/* 底部开始 */
.dibu{
	width: 100vw;
	height: 272px;
	background: #fff;
}
.dibu-con{
	width: 1226px;
	height: 272px;
	margin: 0 auto;
}
.dibu-top{
	width: 100%;
	height: 80px;
	border-bottom: 1px solid #E0E0E0;
	box-sizing: border-box;
}
.dibu-top ul li{
	width: 20%;
	height: 25px;
	margin: 27px 0;
	border-right: 1px solid #e0e0e0;
	box-sizing: border-box;
	float: left;
	font-size: 16px;
	line-height: 25px;
	text-align: center;
	transition: all 0.3s;
}
.dibu-top ul li i{
	font-size: 24px;
	vertical-align: middle;
}
.dibu-top ul li span{
	vertical-align: middle;
}
.dibu-top ul li:hover{
	color: #ff5b00;
}
.dibu-top ul .list{
	border: none;
}
.dibu-bottom{
	width: 100%;
	height: 192px;
	padding: 40px 0;
	box-sizing: border-box;
}
.dibu-bottom-left{
	width: 980.8px;
	height: 112px;
	float: left;
}
.dibu-bottom-left>ul>li{
	width: calc(980px / 6);
	height: 112px;
	float: left;
}
.dibu-bottom-left>ul .list6{
	border-right: 1px solid #E0E0E0;
	box-sizing: border-box;
}
.dibu-bottom-left>ul>li .list1{
	width: 100%;
	height: 18px;
	margin-bottom: 20px;
	font-size: 14px;
	line-height: 18px;
	color: #424242;
}
.dibu-bottom-left>ul>li .list2{
	width: 100%;
	height: 18px;
	margin-top: 10px;
	color: #727272;
	font-size: 12px;
	line-height: 18px;
}
.dibu-bottom-left>ul>li .list2:hover{
	color: #FF5B00;
}

.dibu-bottom-right{
	width: 245.2px;
	height: 112px;
	float: left;
}
.dibu-bottom-right>ul>li{
	width: 100%;
	height: calc(112px / 3);
}
.dibu-bottom-right>ul .list3{
	font-size: 22px;
    line-height:calc(112px / 3);
	text-align: center;
    color: #ff6700;
}
.dibu-bottom-right>ul .list4{
	font-size: 12px;
	color: #616161;
	line-height: calc(112px / 3 / 2);
	text-align: center;
}
.dibu-bottom-right>ul .list5{
	padding-top: 7px;
	box-sizing: border-box;
	color: #ff6700;
	text-align: center;
	font-size: 12px;
	line-height: 30px;
}
.dibu-bottom-right>ul .list5-text{
	width: 120px;
	height: 30px;
	border:1px solid #ff6700;
	margin: 0 auto;
	transition: all 0.3s;
}
.dibu-bottom-right>ul .list5-text i{
	font-size: 20px;
	vertical-align: middle;
}
.dibu-bottom-right>ul .list5-text:hover{
	color: #fff;
	background: #FF6700;
}
/* 底部结束 */
.end{
	width: 1226px;
	height: 232px;
	margin: 0 auto;
	padding: 30px 0;
	box-sizing: border-box;
}
.end-top{
	width: 100%;
	height: 123px;
}


.end-top .logo{
	background-image: url(../img/mimimi.png);
	background-color: #FF5B00;
	width: 57px;
	height: 57px;
	float: left;
	background-position:center center;
}
.end-top-left{
	width: 1159px;
	margin-left:10px ;
	float: left;
}
.end-top-left .text1{
	width: 1100px;
	height: 19px;
	font-size: 12px;
	color: #757575;
}
.end-top-left .text1>div:nth-of-type(2n+1):hover{
	color: #ff6700;
}
.end-top-left .text1 .text1-list{
	float: left;
}

.end-top .text1 .text1-line{
	float: left;
}
.end-top .text2{
	color:#b0b0b0;
	font-size: 12px;
	line-height: 18px;
}
.end-top .tu{
	width: 270px;
	height: 28px;
	margin-top: 0px;
	float: right;
}
.end-top .tu img{
	width: 85px;
	height: 28px;
}

.end .bottom{
	height: 32px;
	width: 1226px;
	margin-top: 15px ;
}
.end .bottom .text3{
	width: 267px;
	float: left;
	margin-left: 479.5px;
}
.end .bottom .text3 img{
	width: 100%;
	height: 19px;
}
.end .bottom .tu1{
	width: 180px;
	float: right;
}
.end .bottom .tu1 img{
	width: 85px;
	height: 28px;
}



main{
	background: #f5f5f5;
}
.head{
	width: 100vw;
	height: 102px;
	background: #fff;
	border-bottom: 2px solid #ff6700;
	box-sizing: border-box;
}
.head-con{
	width: 1226px;
	height: 102px;
	margin: 0 auto;
}
.head-con img{
	background-size: 55px 55px;
	background-repeat: no-repeat;
	background-color: #ff6700;
	margin-top: 27.5px;
	float: left;
	cursor: pointer;
	float: left;
	margin-right: 40px;
}
.head-con>p{
	font-size: 28px;
    color: #424242;
	float: left;
	line-height: 102px;

}
.head-con>div{
	font-size: 12px;
   line-height: 102px;
    color: #b0b0b0;
	float: right;
}
.head-con>div>a{
	float: left;
	color: #b0b0b0;

}
.head-con>div>div{
	float: left;
}
.zhongjian{
	width: 100vw;
	height: 273px;
	margin: 80px 0 130px 0;
}
.tu-con{
	width: 1226px;
	height: 273px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	
}
.tu-con .img{
	text-align: center;
	width: 558px;
}
.tu-con .text{
	width: 668px;
	height: 100%;
}
.tu-con .text h2{
	color: #b0b0b0;
	font-size: 36px;
	font-weight: bold;
	margin-top: 50px;
}
.tu-con .text>div:nth-child(2){
	margin: 10px 0 40px 0;
    font-size: 20px;
    color: #b0b0b0;
}
.tu-con .text>div:nth-child(3) a{
	background: #ff6700;
    border:1px solid #ff6700;
    color: #fff;
	font-size: 14px;
	padding: 15px 60px;
	box-sizing: border-box;
}
.tu-con .text>div:nth-child(3) a:last-child{
	background: #fff;
	border:1px solid #ff6700;
	color: #ff6700;
	margin-left: 5px;
}


.con-text{
	width: 100vw;
	height: 40px;
	margin: 30px 0;
}
.con-text .text{
	width: 1226px;
	height: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 30px;
	line-height: 40px;
	color: #757575;
	margin: 0 auto;
}
.con-text .text .line{
	width: 372px;
	height: 1px;
	background: #e0e0e0;
}


/* 为你推荐开始 */

.weinituijian{
	width: 100vw;
	height: 680px;
}

.weinituijian-bottom {
	width: 1226px;
	height: 660px;
	margin: 0 auto;
}
.weinituijian-bottom>ul li {
	width: 234px;
	height: 300px;
	margin-left: 14px;
	float: left;
	background: #fff;
	text-align: center;
	cursor: pointer;
	transition: all 0.3s;
	position: relative;
	padding: 20px 0;
	box-sizing: border-box;
	margin-bottom: 14px;
}
.weinituijian-bottom>ul .list1{
	margin-left: 0;
}
.text-gouwuche{
	width: 118px;
	height: 28px;
	font-size: 12px;
	box-sizing: border-box;
	color: #ff6700;
	border: 1px solid #ff6700;
	line-height:26px;
	text-align: center;
	left: 58px;
	bottom: 25px;
	position: absolute;
	display: none;
	background: #fff;
	transition: all 0.3s;
}
.text-gouwuche:hover{
	background: #ff6700;
	color: #fff;
}
.weinituijian-bottom>ul li:hover .text-gouwuche{
	display: block;
}

.weinituijian-bottom>ul .list1 {
	margin-left: 0;
}



.weinituijian-bottom>ul li .text {
	font-size: 14px;
	color: #333;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 15px 21px 0 21px;
}

.weinituijian-bottom>ul li .money {
	color: #ff6700;
	margin-top: 15px;
}

.weinituijian-bottom>ul li .pingjia {
	font-size: 14px;
	margin-top: 15px;
	color: #757575;
}

/* 为你推荐结束 */



.fenge{
	height: 450px;
	width: 100vw;
	margin: 0 auto;
}
.list{
	height: 70px;
	width: 1226px;
	background: #fff;
	margin: 0 auto;
	border-bottom: 2px solid #e0e0e0;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
}
.list .middle{
	height: 20px;
	width: 1190px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.list .middle .left{
	width: 260px;
	height: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.list .middle .left .box1{
	width: 60px;
	height: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}

.list .middle .left .box1 i{
	display: block;
	height: 20px;
	width: 20px;
	background: #ff5b00;
	text-align: center;
	line-height: 20px;
	color: #fff;
}
.list .middle .left .box1 span{
	display: block;
	font-size: 14px;
	color: #000;
}
.list .middle .left .box2{
	font-size: 14px;
	color: #000;
}
.list .middle .right{
	width: 520px;
	height: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-right: 35px;
	
}
.list .middle .right .zuo{
	height: 20px;
	width: 390px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.list .middle .right .zuo span{
	display: block;
	font-size: 14px;
	color: #000;
}
.list .middle .right .you{
	font-size: 14px;
	color: #000;

}
.xq{
	width: 1226px;
	height: 295px;
	background: #fff;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}
.xq .xq1{
	width: 1180px;
	height: 295px;
	margin-right: 12px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.xq .xq1 .s{
	width: 1180px;
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.xq .xq1 .s i{
	display: block;
	height: 20px;
	width: 20px;
	background: #ff5b00;
	text-align: center;
	line-height: 20px;
	color: #fff;
}
.xq .xq1 .s img{
	width: 60px;
	height: 70px;
}
.xq .xq1 .s span{
	font-size: 18px;
	color: #000;
}
.xq .xq1 .s .price{
	font-size: 14px;
	color: #000;
}
.xq .xq1 .s .hezi{
	width: 150px;
	height: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}
.xq .xq1 .s .hezi .jia{
	font-size: 12px;
	color: #000;
	border: 1px solid #e0e0e0;
	box-sizing: border-box;
	height: 40px;
	width: 37px;
	text-align: center;
	line-height: 40px;
	border-right: 0 ;
}
.xq .xq1 .s .hezi .geshu{
	width: 75px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 12px;
	color: #000;
	background: #fff;
}
.xq .xq1 .s .hezi .jian{
	height: 40px;
	width: 37px;
	font-size: 12px;
	color: #000;
	border: 1px solid #e0e0e0;
	box-sizing: border-box;
	text-align: center;
	line-height: 40px;
	border-left: 0 ;
}
.xq .xq1 .s .price1{
	font-size: 14px;
	color: #ff5b00;
}
.xq .xq1 .s .cheng{
	height: 12px;
	width: 12px;
	margin-right: 30px;
}
.xq .xq1 .z{
	height: 100px;
	width: 1100px;
	margin-left: 100px;
	
}
.xq .xq1 .z .box{
	height: 50px;
	width: 1100px;
	border: 2px solid #f2f2f2; 
	box-sizing: border-box;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.xq .xq1 .z .box .yuan{
	height: 24px;
	width: 24px;
	background: #ff5b00;
	border-radius: 50%;
	font-size: 20px;
	color: #fff;
	text-align: center;
	line-height: 24px;
	margin-left: 20px;
}
.xq .xq1 .z .box span{
	display: block;
	font-size: 12px;
	color: #000;
	margin-left: 10px;
}
.xq .xq1 .z .box .hongzi{
	font-size: 12px;
	color: #ff5b00;
	margin-left: 10px;
}
.xq .xq1 .z .box:nth-child(2){
	height: 50px;
	width: 1100px;
	border: 2px solid #f2f2f2; 
	box-sizing: border-box;
	border-top: 0;
}
.xq .xq1 .x{
	height: 50px;
	width: 1100px;
	margin-left: 100px;
	border: 2px solid #f2f2f2; 
	box-sizing: border-box;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	
}
.xq .xq1 .x .yuan{
	height: 24px;
	width: 24px;
	background: #ff5b00;
	border-radius: 50%;
	font-size: 20px;
	color: #fff;
	text-align: center;
	line-height: 24px;
	margin-left: 20px;
}
.xq .xq1 .x span{
	display: block;
	font-size: 12px;
	color: #000;
	margin-left: 10px;
}
.xq .xq1 .x .hongzi{
	font-size: 12px;
	color: #ff5b00;
	margin-left: 10px;
}
.fenge1{
	height: 20px;
	width: 1226px;
	background: #f2f2f2;
	margin: 0 auto;
	
}
.fuwu{
	height: 50px;
	width: 1226px;
	background: #fff;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.fuwu .left{
	height: 50px;
	width: 350px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.fuwu .left .you{
	height: 50px;
	width: 160px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.fuwu .left .you span{
	
	font-size: 14px;
	color: #000;
}
.fuwu .left .you span:nth-child(2){
	color: #ff5b00;
}
.fuwu .left .you span:nth-child(5){
	color: #ff5b00;
}
.fuwu .right{
	height: 50px;
	width: 380px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.fuwu .right span:nth-child(1){
	font-size: 12px;
	color: #ff5b00;
	margin-top: 5px;
}
.fuwu .right span:nth-child(2){
	font-size: 22px;
	color: #ff5b00;
	margin-right: 70px;
}
.fuwu .right .jiesuan{
	width: 200px;
	height: 50px;
	background: #ff5b00;
	text-align: center;
	align-items: center;
	line-height: 50px;
	font-size: 18px;
	color: #fff;
}